<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end"
         [@animacao-banner]="estadoBanner">
      <instaclone-banner></instaclone-banner>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start"
           [@animacao-painel]="estadoPainel"
           (@animacao-painel.start)="inicioDaAnicacao()"
           (@animacao-painel.done)="fimDaAnicacao()">
        <instaclone-cadastro (exibirPainel)="exibirPainel($event)"></instaclone-cadastro>
      </div>
    </div>

    <ng-template #formLogin>
      <div class="col-sm-6 d-flex justify-content-start"
           [@animacao-painel]="estadoPainel"
           (@animacao-painel.start)="inicioDaAnicacao()"
           (@animacao-painel.done)="fimDaAnicacao()">
        <instaclone-login (exibirPainel)="exibirPainel($event)"></instaclone-login>
      </div>
    </ng-template>

  </div>
</div>